.task-menu {
  margin-top: 32px;
  margin-bottom: 28px;
}

.task-mat-card {
  margin: 8px;
  padding: 10px;
  background-color: transparent;
}

.task-mat-toolbar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 88px;
}

.task-button {
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  height: 55px;
  background-color: #595656;
  margin-left: 26px;
}

.task-card {
  background-color: white;
  margin: 20px 100px 50px 50px;
}

.task-content {
  background-color: #ffffff;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.sprint-select {
  margin-bottom: -22px;
  margin-left: 12px;
}

.status-to-do {
  color: lightsalmon;
}

.status-in-progress {
  color: cyan;
}

.status-done {
  color: lightgreen;
}

mat-table {
  border-radius: 5px;
}

mat-row {
  background-color: #ffffff;
}

mat-row:hover {
  background-color: #eefdff;
}

mat-header-cell {
  background-color: #595656;
}

mat-cell {
  border-bottom: 1px solid #2c2c2c;
  color: #2c2c2c;
}

.mat-column-actions {
  flex: 0 0 12%;
  text-align: center;
  justify-content: center;
}
