.project-menu {
  margin-top: 32px;
  margin-bottom: 28px;
}

.project-mat-card {
  margin: 8px;
  padding: 10px;
  background-color: transparent;
}

.project-mat-toolbar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 88px;
}

.project-button {
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  height: 55px;
  background-color: #7b1fa2;
}

.project-card {
  background-color: #ffffff;
  margin: 20px 100px 50px 50px;
}

.project-content {
  background-color: #ffffff;
  flex-wrap: wrap;
}

.project-select {
  margin-bottom: -22px;
  margin-left: 12px;
}

.project-list {
  border: solid 1px #ccc;
  min-height: 600px;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.project-box {
  padding: 20px 10px;
  border: solid 2px #666262;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: #ffffff;
  font-size: 14px;
  margin: 10px;
}

.project-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members-area {
  max-width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.member-name {
  padding: 0.2rem 0.5rem;
  color: #ffffff;
  background-color: #666262;
  margin: 0.5rem;
}

.text {
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .project-container {
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 0;
  }
  .project-list {
    min-height: 10rem;
  }

  .project-card-top,
  .members-area {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-name {
    margin: 0.5rem 0;
  }
}
