<h2 mat-dialog-title>Nova tarefa</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="task-form">
    <mat-form-field class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Responsável</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option value="one">Programador 1</mat-option>
        <mat-option value="two">Programador 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Esforço atribuído</mat-label>
      <input type="number" matInput formControlName="effort" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Data de entrega</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="endDate" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        placeholder="Insira a descrição"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
