.user-story-menu {
  margin-top: 32px;
  margin-bottom: 28px;
}

.user-story-mat-card {
  margin: 8px;
  padding: 10px;
  background-color: transparent;
}

.user-story-mat-toolbar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 88px;
}

.user-story-button {
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  height: 55px;
  background-color: #595656;
  margin-left: 26px;
}

.user-story-card {
  background-color: white;
  margin: 20px 100px 50px 50px;
}

.user-story-content {
  background-color: #ffffff;
}

.user-story-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.project-select {
  margin-bottom: -22px;
  margin-left: 12px;
}

.status-to-do {
  color: lightsalmon;
}

.status-in-progress {
  color: cyan;
}

.status-done {
  color: lightgreen;
}

.user-story-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.user-story-pair {
  margin-left: 60px;
}

.user-story-label {
  font-weight: bold;
  margin-top: 5px;
  font-size: 17px;
  width: 100%;
  margin-right: 10px;
}

#user-more,
#user-more2,
#user-more3,
#user-more4 {
  margin-top: 17px;
  font-size: 15px;
}

.user-story-value {
  width: 100%;
  flex-grow: 1;
}

.user-story-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1419px) {
  .user-story-pair {
    margin-left: 50px;
  }
}

@media (max-width: 1335px) {
  .user-story-pair {
    margin-left: 40px;
  }
}

@media (max-width: 1252px) {
  .user-story-pair {
    margin-left: 30px;
  }
}

@media (max-width: 1167px) {
  .user-story-pair {
    margin-left: 20px;
  }
}

@media (max-width: 1084px) {
  .user-story-pair {
    margin-left: 10px;
  }
}

@media (max-width: 1000px) {
  .user-story-pair {
    margin-left: 5px;
  }
}
@media (max-width: 768px) {
  .user-story-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .user-story-pair {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .user-story-label {
    font-weight: bold;
    margin-left: 20px;
  }

  .user-story-value {
    flex-grow: 1;
  }

  .user-story-description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

