* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-mat-card {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 4px;
  height: 860px;
}

.left-menu-item {
  cursor: pointer;
  border: none;
  user-select: none;
  width: 98%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  background-color: #424242;
}

.left-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.left-menu-item:active {
  background-color: #4527a0;
}

@media only screen and (max-width: 780px) {
  #user {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  #user {
    height: 60px;
  }

  .menu-mat-card {
    height: 190px;
  }
}
