mat-card {
  max-width: 500px;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar {
  justify-content: center;
  border-radius: 4px 4px 0 0;
}

mat-card-content {
  padding: 1.5rem;
  background-color: white;
}

mat-card-actions {
  justify-content: center;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.signin-content {
  padding: 60px 1rem;
}

.full-width-input {
  width: 100%;
}

.form-change {
  cursor: pointer;
  color: blue;
}
