<div class="signin-content">
  <mat-card>
    <mat-toolbar color="primary">{{
      signInCard ? "Logar" : "Cadastrar"
    }}</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="signInForm" *ngIf="signInCard" (ngSubmit)="signIn()">
        <mat-form-field class="full-width-input">
          <mat-label>Usuário</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <button
          mat-fab
          extended
          class="login-button"
          color="primary"
          type="submit"
        >
          Entrar
        </button>
      </form>

      <form [formGroup]="signUpForm" *ngIf="!signInCard" (ngSubmit)="signUp()">
        <mat-form-field class="full-width-input">
          <mat-label>Usuário</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <button
          mat-fab
          extended
          class="login-button"
          color="primary"
          type="submit"
        >
          Enviar
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <span>{{
          signInCard ? "Ainda não possui cadastro?" : "Já é cadastrado?"
        }}</span>
        <span class="form-change" (click)="signInCard = !signInCard">{{
          signInCard ? " cadastre-se" : " entrar"
        }}</span>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
