<mat-card align="center" class="board-mat-card">
  <div class="board-menu">
    <mat-toolbar class="board-mat-toolbar">
      <mat-form-field class="sprint-select">
        <mat-label>Sprint</mat-label>
        <mat-select class="sprint-select">
          <mat-option *ngFor="let sprint of sprints" [value]="sprint.title">
            {{ sprint.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-button
        class="add-button"
        aria-label="Adicionar tarefa"
        (click)="onAdd()"
      >
        <span class="text-nowrap">Nova tarefa</span>
        <mat-icon iconPositionEnd>add</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <mat-card class="board-content">
    <div cdkDropListGroup>
      <div class="task-container">
        <div class="board-status-header">
          <h2 class="text-light text-center">A Fazer</h2>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="['DONE']"
          [cdkDropListConnectedTo]="['IN_PROGRESS']"
          class="task-list task-todo"
          id="TO_DO"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task-box" *ngFor="let task of todo" cdkDrag>
            <div class="container">
              <div class="task">
                <div class="task-card-top">
                  <div class="my-1 fs-5">{{ task.title }}</div>
                </div>
                <hr />
                <div class="task-card-bottom">
                  {{ task.user.username }}
                  <button
                    mat-icon-button
                    aria-label="Ver tudo"
                    (click)="onExtend()"
                  >
                    <mat-icon iconPositionEnd>more_vert</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-container">
        <div class="board-status-header">
          <h2 class="text-light text-center">Em Progresso</h2>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="inprogress"
          [cdkDropListConnectedTo]="['TO_DO']"
          [cdkDropListConnectedTo]="['DONE']"
          class="task-list task-inprogress"
          id="IN_PROGRESS"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task-box" *ngFor="let task of inprogress" cdkDrag>
            <div class="container">
              <div class="task">
                <div class="task-card-top">
                  <div class="my-1 fs-5">{{ task.title }}</div>
                </div>
                <hr />
                <div class="task-card-bottom">
                  {{ task.user.username }}
                  <button
                    mat-icon-button
                    aria-label="Ver tudo"
                    (click)="onExtend()"
                  >
                    <mat-icon iconPositionEnd>more_vert</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-container">
        <div class="board-status-header">
          <h2 class="text-light text-center">Finalizada</h2>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="['TO_DO']"
          [cdkDropListConnectedTo]="['IN_PROGRESS']"
          class="task-list task-done"
          id="DONE"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task-box" *ngFor="let task of done" cdkDrag>
            <div class="container">
              <div class="task">
                <div class="task-card-top">
                  <div class="my-1 fs-5">{{ task.title }}</div>
                </div>
                <hr />
                <div class="task-card-bottom">
                  {{ task.user.username }}
                  <button
                    mat-icon-button
                    aria-label="Ver tudo"
                    (click)="onExtend()"
                  >
                    <mat-icon iconPositionEnd>more_vert</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</mat-card>
