<mat-card class="menu-mat-card">
  <div class="left-menu" cdkMenu>
    <button mat-button class="left-menu-item" cdkMenuItem (click)="toBoard()">
      Tarefas
    </button>
    <button mat-button class="left-menu-item" cdkMenuItem (click)="toTask()">
      Backlog
    </button>
    <button
      mat-button
      class="left-menu-item"
      cdkMenuItem
      (click)="toUserStory()"
    >
      Histórias de Usuário
    </button>
    <button
      mat-button
      class="left-menu-item"
      cdkMenuItem
      (click)="toWasteBin()"
    >
      Lixeira
    </button>
  </div>
</mat-card>
