.waste-bin-menu {
  margin-top: 32px;
  margin-bottom: 28px;
}

.waste-bin-mat-card {
  margin: 8px;
  padding: 10px;
  background-color: transparent;
}

.waste-bin-mat-toolbar {
  background-color: #ffffff;
  border-radius: 5px;
  height: 88px;
}

.waste-bin-button {
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  height: 55px;
  background-color: #595656;
  margin-left: 26px;
}

.waste-bin-card {
  background-color: white;
  margin: 20px 100px 50px 50px;
}

.waste-bin-content {
  background-color: #ffffff;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.sprint-select {
  margin-bottom: -22px;
  margin-left: 12px;
}

.status-to-do {
  color: lightsalmon;
}

.status-in-progress {
  color: cyan;
}

.status-done {
  color: lightgreen;
}


.waste-bin-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.waste-bin-pair {
  margin-left: 10px;
}

.waste-bin-label {
  font-weight: bold;
  margin-top: 5px;
  font-size: 12px;
  width: 100%;
  margin-right: 10px;
}

#date1,
#date2 {
  word-break: break-word;
  margin-top: 17px;
  font-size: 10px;
}

#waster-more,
#waster-more2,
#waster-more3,
#waster-more4,
#waster-more5 {
  margin-top: 17px;
  font-size: 12px;
}

.waste-bin-value {
  width: 100%;
  flex-grow: 1;
  margin-top: 17px;
  font-size: 11px;
}

.waste-bin-content {
  width: 100%;
  background-color: #ffffff;
}

@media (max-width: 1186px) {
  .waste-bin-pair {
    margin-left: 6px;
  }
}

@media (max-width: 768px) {
  .waste-bin-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .waste-bin-pair {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .waste-bin-label {
    font-weight: bold;
    margin-left: 5px;
    font-size: 17px;
  }

  .waste-bin-value {
    flex-grow: 1;
  }

  #waster-more,
  #waster-more2,
  #waster-more3,
  #waster-more4,
  #waster-more5,
  #waster-more6,
  #date1,
  #date2 {
    font-size: 15px;
  }
}



