<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div>
        <app-menu></app-menu>
      </div>
    </div>
    <div class="col-md-10">
      <mat-card align="center" class="waste-bin-mat-card">
        <div class="waste-bin-menu">
          <mat-toolbar class="waste-bin-mat-toolbar">
            <mat-form-field class="waste-bin-menu-operations sprint-select">
              <mat-label>Sprint</mat-label>
              <mat-select
                class="sprint-select"
                [(ngModel)]="selectedSprintId"
                (selectionChange)="onSprintChange()"
              >
                <mat-option [value]="undefined" selected>Todas</mat-option>
                <mat-option
                  *ngFor="let option of sprintOptions"
                  [value]="option.id"
                >
                  {{ option.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-toolbar>
        </div>
      </mat-card>



      <mat-card align="center" class="waste-bin-content">
        <mat-card class="waste-bin-content">
          <ng-container *ngFor="let task of tasks | async">
            <div class="waste-bin-item">
              <div class="waste-bin-pair">
                <div class="waste-bin-label">Título</div>
                <div class="waste-bin-value" id="waster-more">
                  {{ task.title }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Responsável</div>
                <div class="waste-bin-value" id="waster-more2">
                  {{  task.assignee.id| username | async }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Relator</div>
                <div class="waste-bin-value" id="waster-more3">
                   {{ task.reporter.id | username | async }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Esforço atribuído</div>
                <div class="waste-bin-value" id="waster-more4">
                  {{task.storyPoints}}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">História de usuário</div>
                <div class="waste-bin-value" id="waster-more5">
                  {{ task.userStory.title }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Data de atribuição</div>
                <div class="waste-bin-value" id="date1">
                  {{ task.assignmentDate }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Data de entrega</div>
                <div class="waste-bin-value" id="date2">
                  {{ task.endDate }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Status</div>
                <div
                  class="waste-bin-value"
                  id="waster-more6"
                  [ngClass]="{ 'status-to-do': task.status === 'DISABLED' }"
                >
                  {{ task.status | status }}
                </div>
              </div>

              <div class="waste-bin-pair">
                <div class="waste-bin-label">Operações</div>
                <div class="waste-bin-value">
                  <button mat-icon-button aria-label="Restaurar">
                    (click)="onRestore(task)"
                    <mat-icon>undo</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="Deletar" color="warn">
                    (click)="onDelete(task)"
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
