@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rosario:wght@300&display=swap");

.title-main {
  font-family: "Kaushan Script", cursive;
  font-size: xx-large;
}

.icon-main {
  font-size: xx-large;
}
